label {
	vertical-align: bottom;
	margin-right: 25px;
}

div.input {
	display: table;
	margin: 10% auto 15% auto;
}

div.content {
	display: block;
	margin: auto;
	background-color: white !important;
}