<ons-toolbar>
	<div class="center bot-header">
		<app-header></app-header>
	</div>
</ons-toolbar>
<div class="content">
	<h1 style="text-align: center; font-weight: bold;">StarBot</h1>
	<div class = "input">
		<label>Username </label>
		<ons-input placeholder="" [(value)]="userid" type="email" modifier="underbar"></ons-input>
	</div>
	<div class = "input">
		<label>Password </label>
		<ons-input placeholder="" [(value)]="pswd" type="password" modifier="underbar"></ons-input>
	</div>
	<div class="btn-table">
		<div class="btn-cell">
			<ons-button (click)="login()" class="one-btn">Login</ons-button>
		</div>
	</div>
</div>