label {
	vertical-align: bottom;
	margin-right: 25px;
}

div.input {
	display: table;
	margin: 10% auto 15% auto;
}

div.content {
	display: block;
	margin: auto;
}

h1.app-title {
	text-align: center;
	font-weight: bold;
	background-color: white;
	line-height: 300%;
	margin-top: 15%;
}

div.login-card {
	display: table;
	margin: auto auto 2% auto;
}