div.welcome, div.all-dealer {
	display: block;
	margin: 5% auto 5% auto;
}

div.segment {
	display: table;
	text-align: center;
	width: 100%;
}

div.seg-head {
	font-weight: bold;
	text-align: center;
	margin: 3% auto 3% auto;
}

ons-segment.segment {
	width: 80%;
	text-align: center;
	margin: 3% auto auto auto;
}

div.sales, div.cap, div.units {
	margin: 2% auto 2% auto;
}