<ons-toolbar static modifier="cover-content">
	<div class="left home-menu">
		<app-menu-button></app-menu-button>
	</div>
	<div class="center bot-header">
		<app-header></app-header>
	</div>
</ons-toolbar>
<div class="content">
	<ons-card>Hi Harvindar Sharma. I am StarBot, your personal assistant. Good show! I see that your sales are growing at 13% which is above the divisional growth of 11%. How can I help you today?</ons-card>
	<ons-card *ngIf="showSalesSumm">
		<div class="title card-head">Sales performance</div>
		<div class="btn-table">
			<ons-segment #segment class="segment" id="segment">
	            <button class="seg-btn">MTD</button>
	            <button class="seg-btn">QTD</button>
	            <button class="seg-btn">YTD</button>
        	</ons-segment>
		</div>
		<div class="seg-head">
			<span *ngIf="segment.getActiveButtonIndex() + 1 === 1">
				Aug '18 vs Aug '17
			</span>
			
			<span *ngIf="segment.getActiveButtonIndex() + 1 === 2">
				Q2 '19 vs Q2 '18
			</span>
			
			<span *ngIf="segment.getActiveButtonIndex() + 1 === 3">
				FY '19 vs FY '18
			</span>	
		</div>
		<div class="seg-body">
			<div class="sales">Net sales:
				<span class="rupee">&#8377;</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 1">
					65.9 lakhs (+18%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 2">
					110.4 lakhs (-4%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 3">
					4.5 cr (+2%)
				</span>	
			</div>
			<div class="cap">Capacity:
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 1">
					179 tons (+23%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 2">
					270 tons (-12%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 3">
					912 tons (+8%)
				</span>	
			</div>
			<div class="units">Units sold:
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 1">
					58 units (+19%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 2">
					138 units (+1%)
				</span>
				
				<span *ngIf="segment.getActiveButtonIndex() + 1 === 3">
					339 units (+4%)
				</span>	
			</div>
		</div>
	</ons-card>
	<div *ngIf="showDealer" class="dealer-list">
		<ons-list class="dealer-act">
			<ons-list-header>Top action items</ons-list-header>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="letf">Lynx Communications Systems Pvt. Ltd.</div>
				<div class="right"><span class="notification red-act">4</span></div>
			</ons-list-item>
			<ons-list-item *ngIf="!markComplete" modifier="chevron nodivider" tappable (click)="dealerPage()">
				<div class="left">Kanchan Agencies</div>
				<div class="right"><span class="notification red-act">3</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Air Service Engg & Associate</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Madan Gopal & Co.</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
			<ons-list-item *ngIf="markComplete" modifier="chevron nodivider" tappable>
				<div class="left">Shree Ashtavinayak Enterprises</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
		</ons-list>
	</div>
	<div *ngIf="showDealer" class="all-dealer">
		<ons-list>
			<ons-list-item tappable (click)="dealerList()">See all dealers</ons-list-item>
		</ons-list>
	</div>
	<div class="btn-table">
		<div *ngIf="!showSalesSumm" class="btn-cell"><ons-button class="{{!showDealer?'two-btn':'one-btn button'}}" (click)="showSales()">See sales performance</ons-button></div>
		<div *ngIf="!showDealer" class="btn-cell"><ons-button class="{{!showSalesSumm?'two-btn':'one-btn button'}}" (click)="showDealerAct()">See dealer action items</ons-button></div>
	</div>
</div>