<div class="content tab-page">
	<ons-card class="dealerName">
		<div class="title card-head">Kanchan Agencies</div>
	</ons-card>
	<ons-card>
		<ons-list class="no-border">
			<ons-list-item modifier="nodivider">
				<div class="act-list">
					Dealer needs to achieve 56 tons more this month to be eligible for 4% discount
				</div>
			</ons-list-item>
			<ons-list-item modifier="nodivider">
				<div class="act-list">
					Dealer needs to achieve <span>&#8377;</span> 42 lakhs more this quarter to be eligible for foreign trip to Sri Lanka
				</div>
			</ons-list-item>
		</ons-list>
	</ons-card>
	<div class="btn-table">
		<div class="btn-cell">
			<ons-button class="two-btn" (click)="homePage()">Home</ons-button>
		</div>
		<div class="btn-cell">
			<ons-button class="two-btn" (click)="summPage()">Back</ons-button>
		</div>
	</div>
</div>