<div class="content tab-page">
	<ons-card class="dealerName">
		<div class="title card-head">Kanchan Agencies</div>
	</ons-card>
	<ons-card>
		<div class="os-total">Total outstanding: <span class="rupee">&#8377;</span> 55,25,312.29</div>
		<div class="os-bucket">
			<div class="os-label">Outstanding older than</div>
			<div class="os-select">
				<ons-select class="os-list" [(ngModel)]="selectedBucket" modifier="underbar">
		        	<option *ngFor="let bucket of buckets" [value]="bucket.value">
		        		{{ bucket.label }}
		        	</option>
		    	</ons-select>
		    </div>
		</div>
		<div class="os-amt">
			<span class="rupee">&#8377;</span> {{ buckets[selectedBucket].amt }}
		</div>
	</ons-card>
	<div class="btn-table">
		<div class="btn-cell"><ons-button class="one-btn" (click)="summPage()">Back</ons-button></div>
	</div>
</div>