<div class="content tab-page">
	<ons-card class="dealerName">
		<div class="title card-head">Kanchan Agencies</div>
	</ons-card>
	<ons-card>
		<ons-list>
			<ons-list-item>Sales for Q2 '19 vs Q2 '18 has dropped by 47%</ons-list-item>
			<ons-list-item>Sales for FY '19 vs FY '18 has dropped by 73%</ons-list-item>
			<ons-list-item>&#8377; 75,602 is outstanding for more than 90 days</ons-list-item>
			<ons-list-item>Dealer needs to achieve 56 tons more this month to be eligible for 4% discount</ons-list-item>
		</ons-list>
	</ons-card>
	<ons-list class="mark-complete">
		<ons-list-item>
			<div class="left">Mark as completed</div>
			<div class="right"><ons-switch></ons-switch></div>
		</ons-list-item>
	</ons-list>
	<div class="btn-table">
		<div class="btn-cell"><ons-button class="one-btn" (click)="summPage()">Home</ons-button></div>
	</div>
</div>