<div class="content tab-page">
	<ons-card class="dealerName">
		<div class="title card-head">Kanchan Agencies</div>
	</ons-card>
	<ons-card>
		<ons-list class="no-border">
			<ons-list-item>
				<div class="act-list">
					<ons-icon icon="fa-exclamation-triangle"></ons-icon>
					Sales for Q2 '19 vs Q2 '18 has dropped by 47%
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class="act-list">
					<ons-icon icon="fa-exclamation-triangle"></ons-icon>
					Sales for FY '19 vs FY '18 has dropped by 73%
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class="act-list">
					<ons-icon icon="fa-exclamation-triangle"></ons-icon>
					<span>&#8377;</span> 17,82,346.13 is outstanding for more than 90 days
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class="act-list">
					<ons-icon icon="fa-info-circle"></ons-icon>
					Dealer needs to achieve 56 tons more this month to be eligible for 4% discount
				</div>
			</ons-list-item>
			<ons-list-item>
				<div class="act-list">
					<ons-icon icon="fa-info-circle"></ons-icon>
					Dealer's average basket size in August last year was <span class="rupee">&#8377;</span> 2,22,352.02
				</div>
			</ons-list-item>
		</ons-list>
	</ons-card>
	<ons-list class="mark-complete">
		<ons-list-item>
			<div class="left">Mark as completed</div>
			<div class="right"><ons-switch></ons-switch></div>
		</ons-list-item>
	</ons-list>
	<div class="btn-table">
		<div class="btn-cell"><ons-button class="one-btn" (click)="summPage()">Back</ons-button></div>
	</div>
</div>