<ons-toolbar>
	<div class="center bot-header">
		<app-header></app-header>
	</div>
</ons-toolbar>
<div class="content">
	<div class="title-dl">
		Dealer list
	</div>
	<div class="dealer-list">
		<ons-list class="dealer-list">
			<ons-list-item modifier="chevron nodivider nodivider" tappable>
				<div class="letf">Lynx Communications Systems Pvt. Ltd.</div>
				<div class="right"><span class="notification red-act">4</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider nodivider" tappable (click)="dealerPage()">
				<div class="left">Kanchan Agencies</div>
				<div class="right"><span class="notification red-act">3</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Air Service Engg & Associate</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Madan Gopal & Co.</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Shree Ashtavinayak Enterprises</div>
				<div class="right"><span class="notification yellow-act">1</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Vijay Sales</div>
				<div class="right"><span class="notification green-act">0</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">R P Associates</div>
				<div class="right"><span class="notification green-act">0</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Asha Enterprises</div>
				<div class="right"><span class="notification green-act">0</span></div>
			</ons-list-item>
			<ons-list-item modifier="chevron nodivider" tappable>
				<div class="left">Jet Electronics</div>
				<div class="right"><span class="notification green-act">0</span></div>
			</ons-list-item>
		</ons-list>
	</div>
	<div class="btn-table">
		<div class="btn-cell"><ons-button class="one-btn" (click)="summPage()">Back</ons-button></div>
	</div>
</div>