@import '../node_modules/onsenui/css/onsenui.css';
@import '../node_modules/onsenui/css/onsen-css-components.css';

ons-toolbar {
	background-color: #296dae !important;
	height: 10% !important;
}

div.content, div.background {
	margin-top: 6%;
	height: 100% !important;
}

div.button {
	background-color: #c0c0c0 !important;
}

ons-button {
	background-color: #c0c0c0 !important;
	font-weight: bold !important;
	color: black !important;
	white-space: normal !important;
}

ons-button.two-btn {
	width: 80%;
}

ons-button.one-btn {
	width: 40%;
}

div.card-head {
	text-align: center;
}

div.btn-table {
	display: table;
	text-align: center;
	width: 100%;
}

div.btn-cell {
	display: table-cell;
	text-align: center;
	width: 50%;
}

ons-list {
	border-bottom: thin solid #d6d6d6 !important;
	border-top: thin solid #d6d6d6 !important;
}

ons-list.no-border {
	border: none !important;
}