<ons-toolbar>
	<div class="center">
		<h2 class=" menu-header">Menu</h2>
	</div>
</ons-toolbar>
<div class="content">
	<ons-list>
		<ons-list-item tappable modifier="chevron longdivider">Sales Performance</ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">Dealer Performance</ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">Inventory</ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">Product Technical Details</ons-list-item>
	</ons-list>
</div>