<ons-toolbar>
	<div class="center">
		<h2 class=" menu-header">Menu</h2>
	</div>
</ons-toolbar>
<div class="content">
	<p></p>
	<ons-list>
		<ons-list-item tappable>
			<div class="left">
            	<ons-icon icon="fa-home" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Home
          	</div>
        </ons-list-item>
	</ons-list>
	<p></p>
	<ons-list>
		<ons-list-item tappable modifier="chevron longdivider">
			<div class="left">
            	<ons-icon icon="fa-coins" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Sales Performance
          	</div>
		</ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">
			<div class="left">
            	<ons-icon icon="fa-user-circle" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Dealer Performance
          	</div>
        </ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">
		<div class="left">
            	<ons-icon icon="fa-boxes" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Stock Status
          	</div>
        </ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">
			<div class="left">
            	<ons-icon icon="fa-file-invoice" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Transaction Status
          	</div>
        </ons-list-item>
		<ons-list-item tappable modifier="chevron longdivider">
			<div class="left">
            	<ons-icon icon="fa-cogs" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Product Technical Details
        	</div>
      	</ons-list-item>
	</ons-list>
	<p></p>
	<ons-list>
		<ons-list-item tappable class="logout" (click)="logout()">
			<div class="left">
            	<ons-icon icon="fa-sign-out-alt" class="list-item__icon"></ons-icon>
        	</div>
          	<div class="center">
          		Logout
          	</div>
        </ons-list-item>
	</ons-list>
</div>